* {
    font-family: 'Fira Sans Condensed', serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-header-bg: #1B1B1B;
    --color-logo: #0096FD;
    --color-one: #2EACDC;
    --color-two: #03F6FC;
    --color-text: #F5F0F6;
    --color-bg: #282828;
    --color-main: #14161C;
    --color-footer-bg: #1b1b1b;
}

body {
    background-color: var(--color-bg);
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

/* HEADER */

.header {
    background-color: var(--color-header-bg);
    color: var(--color-logo);
    font-family: 'Sofia Sans Condensed';
    display: flex;
    justify-content: center;
    z-index: 9;
    position: absolute;
    top: 0;
    width: 100%;
    /* opacity: 0.8; */
}

.company-wrapper {
    display: flex;
}

.logo-wrapper {
    height: 100%;
    padding: 20px;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1, .header p, .header .fa-phone-square {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phone-wrapper {
    display: flex;
}

.fa-phone-square {
    font-size: 45px;
    padding: 12px;
}

/* MAIN SECTION */

.main-section {
    /* position: absolute; */
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("src/main.jpg");
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.filter {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main-section .content {
    height: 100%;
}

.main-section .text-wrapper {
    height: 100%;
    color: var(--color-text);
    font-size: 1.5rem;
}


.pic-bg {
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-footer-bg);
    color: var(--color-logo);
    font-family: 'Sofia Sans Condensed';
    font-size: 0.7rem;
}

.footer-company-wrapper {
    display: flex;
}

.footer h1, .footer .fa-vk {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-vk {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-square-envelope {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ENVELOPE = mail */

.fa-square-envelope {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-phone-square {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-phone-square {
    font-size: 35px;
    padding: 12px;
}

.logo-footer-wrapper {
    height: 100%;
    padding: 20px;
    position: right;
}

.icon-footer-wrapper {
    display: flex;
}

/* YANDEX MAPS SECTION */

.yandex-map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter:invert(85%) hue-rotate(290deg);
}

