* {
    font-family: 'Fira Sans Condensed', serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-header-bg: #1B1B1B;
    --color-logo: #0096FD;
    --color-one: #2EACDC;
    --color-two: #03F6FC;
    --color-text: #F5F0F6;
    --color-bg: #282828;
    --color-main: #14161C;
    --color-footer-bg: #1b1b1b;
}

body {
    background-color: var(--color-bg);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */

.header {
    background-color: var(--color-header-bg);
    color: var(--color-logo);
    font-family: 'Fira Sans Condensed';
    z-index: 9;
    position: absolute;
    top: 0;
    width: 100%;
    /* opacity: 0.8; */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.header .content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.logo-wrapper {
    height: 100%;
    padding: 20px;
    position: relative;
}

.nav-wrapper {
    height: 100%;
    grid-column: 6 / 10;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    overflow: hidden;
    font-weight: bold;

    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: block;
    position: relative;
    padding: 0.2em 0;
}

/* nav animations*/

.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 2px;
}
  
nav a:hover::after,
nav a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.phone-wrapper {
    display: flex;
}

.fa-phone-square {
    font-size: 45px;
    padding: 12px;
}


/* MAIN SECTION */

.main-section {
    height: 100%;
    width: 100%;
    background-color: var(--color-main);
    z-index: 1;
    width: 100%;
    height: 100vh;

    background-image: url("src/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.main-section .text-wrapper {
    max-width: 600px;
}

.main-section .pic-wrapper {
    height: 600px;
    width: 600px;
}

.main-section .content {
    height: 100%;
}

.main-section .text-wrapper {
    height: 100%;
    color: var(--color-text);
}

.main-section .text-wrapper h1 {
    font-size: 3rem;
}

.main-section .text-wrapper p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: justify;
}

.main-section .text-wrapper hr {
    margin-top: 10px;
}

.main-section .price-button {
    display: block;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    background: -webkit-linear-gradient(0deg, var(--color-logo), var(--color-one));
    background-size: 200% 100%;
    background-position: 100% 0;
    color: var(--color-text);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    transition: background-position .5s;
    border-radius: 7px;
}

.main-section .price-button:hover {
    background-position: 0 0;
}

/* QUALITIES */

.qualities-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quality {

}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-footer-bg);
    color: var(--color-logo);
    font-family: 'Sofia Sans Condensed';
    font-size: 0.7rem;
    font-size: 1rem;
}

.footer-company-wrapper {
    display: flex;
}

.footer h1, .footer .fa-vk {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-vk {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-square-envelope {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ENVELOPE = mail */

.fa-square-envelope {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-phone-square {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-phone-square {
    font-size: 35px;
    padding: 12px;
}

.logo-footer-wrapper {
    height: 100%;
    padding: 20px;
    position: right;
}

.icon-footer-wrapper {
    display: flex;
}

/* YANDEX MAPS SECTION */

.yandex-map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: invert(90%) hue-rotate(293deg);
}
