* {
    font-family: 'Fira Sans Condensed', serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-header-bg: #1B1B1B;
    --color-logo: #0096FD;
    --color-one: #2EACDC;
    --color-two: #03F6FC;
    --color-text: #F5F0F6;
    --color-bg: #282828;
    --color-main: #14161C;
    --color-footer-bg: #1b1b1b;
    --color-main-light: #1a1d24;
}

body {
    background-color: var(--color-bg);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, p {
    color: var(--color-text);
}

/* MENU BUTTON */

.menu-block {
    display: none;
    
}

.header_active {
    animation: slide-down 0.5s 1;
}

.menu-nav {
    display: none;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: none;   
}

.menu-nav a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;

    background: -webkit-linear-gradient(315deg, var(--color-logo), var(--color-one));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 1.5rem;

}

.menu-nav_active {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 5px;
}

.menu-btn {
    width: 75px;
    height: 75px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

.hamburger span, .cross span {
    display: block;
    background: linear-gradient(315deg, var(--color-logo), var(--color-one));
    border-radius: 2px;
    transition: 0.25s ease-in-out;
}

.menu-btn .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
}
.menu-btn .hamburger span {
    width: 45px;
    height: 4px;
    position: relative;
    top: 18px;
    left: 15px;
    margin: 10px 0;
}
.menu-btn .hamburger span:nth-child(1) {
    margin-top: 0;
    transition-delay: 0.5s;
}
.menu-btn .hamburger span:nth-child(2) {
    transition-delay: 0.625s;
}
.menu-btn .hamburger span:nth-child(3) {
    transition-delay: 0.75s;
    margin-bottom: 0;
}
.menu-btn .cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
}
.menu-btn .cross span:nth-child(1) {
    height: 0%;
    width: 4px;
    position: absolute;
    top: 10%;
    left: 36px;
    transition-delay: 0s;
}
.menu-btn .cross span:nth-child(2) {
    width: 0%;
    height: 4px;
    position: absolute;
    left: 10%;
    top: 36px;
    transition-delay: 0.25s;
}
.menu-btn.open .hamburger span {
    width: 0%;
}
.menu-btn.open .hamburger span:nth-child(1) {
    transition-delay: 0s;
}
.menu-btn.open .hamburger span:nth-child(2) {
    transition-delay: 0.125s;
}
.menu-btn.open .hamburger span:nth-child(3) {
    transition-delay: 0.25s;
}
.menu-btn.open .cross span:nth-child(1) {
    height: 80%;
    transition-delay: 0.625s;
}
.menu-btn.open .cross span:nth-child(2) {
    width: 80%;
    transition-delay: 0.375s;
}

@keyframes slide-down {
    0% {
        height: 75px;
        transform-origin: top;
    }

    100% {
        height: 230px;
    }
}

/* HEADER */

.header {
    /* background-color: var(--color-header-bg); */
    color: var(--color-logo);
    font-family: 'Fira Sans Condensed';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.header .content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    max-width: none;
}

.logo-wrapper {
    height: 100%;
    padding: 20px;
    position: relative;
}

.nav-wrapper {
    height: 100%;
    grid-column: 6 / 10;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 1.25rem;
    overflow: hidden;
    font-weight: bold;

    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: block;
    position: relative;
    padding: 0.2em 0;
}

/* nav animations*/

.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 2px;
}
  
nav a:hover::after,
nav a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.phone-wrapper {
    display: flex;
}

.fa-phone-square {
    font-size: 45px;
    padding: 12px;
}


/* MAIN SECTION */

.main-section {
    height: 100%;
    width: 100%;
    background-color: var(--color-main);
    z-index: 1;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: url("src/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.main-section .pic-wrapper {
    min-height: 600px;
    min-width: 600px;
}

.main-section .content {
    height: 100%;
}

.main-section .text-wrapper {
    height: 100%;
}

.main-section .text-wrapper h1 {
    font-size: 3rem;
}

.main-section .text-wrapper p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: justify;
}

.main-section .text-wrapper hr {
    margin-top: 10px;
}

.main-section .price-button {
    display: block;

    margin-top: 20px;
    width: 250px;
    height: 50px;

    text-align: left;
    padding-left: 20px;

    background: -webkit-linear-gradient(0deg, var(--color-logo), var(--color-one));
    background-size: 200% 100%;
    background-position: 100% 0;

    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    transition: background-position .5s;
    border-radius: 7px;
    color: var(--color-text);
    text-decoration: none;
}

.price-button .text-wrapper {
    display: flex;
    align-items: center;
}

.main-section .price-button:hover {
    background-position: 0 0;
}

/* QUALITIES */

.qualities-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 40px;
}

.qualities-section .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.quality {
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    height: 100%;
}

.quality .text-wrapper {
    padding-left: 15px;
}

.quality .text-wrapper h1 {
    font-size: 1.5rem;
}

.quality .text-wrapper p {
    font-size: 1rem;
}

/* QUALITY ANIMATION */

.quality-animation {
    animation: wipe-enter 2s 1
}
@keyframes wipe-enter {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
}

/* PRICE SECTION */

.price-section {
    display: flex;
    justify-content: center;
}

.price-section .content {
    flex-direction: column;
    width: 100%;
}


.price-section h1 {
    font-size: 3rem;
}

.prices-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 50px;
}

.price-table h1 {
    font-size: 2rem;
}

.price-table {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    height: 100%;
}

.services-wrapper {
    margin-top: 10px;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
    padding-left: 10px;

    border-radius: 10px;
}

.price {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.dark {
    background-color: #222222;
}


/* WORK-DESC SECTION */

.work-desc-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.work-desc-section .content {
    flex-direction: column;
    width: 100%;
}

.work-desc-section .content h1 {
    font-size: 3rem;
}

.work-desc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.work-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-step .text-wrapper {
    text-align: center;
}

.work-step .text-wrapper h1 {
    padding: 15px;
    font-size: 1.5rem;
}


.round {
    color: var(--color-text);
    font-size: 50px;
    font-weight: bold;

    width: 75px;
    height: 75px;
    padding: 10px;

    text-align: center;

    background: -webkit-linear-gradient(315deg, var(--color-logo), var(--color-one));

    border-radius: 50%;
}

.number {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-footer-bg);
    color: var(--color-logo);
    font-family: 'Sofia Sans Condensed';
    font-size: 0.7rem;
    font-size: 1rem;
}

.footer-company-wrapper {
    display: flex;
}

.footer h1, .footer .fa-vk {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-vk {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-square-envelope {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ENVELOPE = mail */

.fa-square-envelope {
    font-size: 35px;
    padding: 12px;
}

.footer h1, .footer .fa-phone-square {
    background: -webkit-linear-gradient(315deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-phone-square {
    font-size: 35px;
    padding: 12px;
}

.logo-footer-wrapper {
    height: 100%;
    padding: 20px;
    position: right;
}

.icon-footer-wrapper {
    display: flex;
}

/* YANDEX MAPS SECTION */

.yandex-map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: invert(90%) hue-rotate(293deg);
}


/* MEDIA */

@media screen and (max-width: 1280px) { 
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-wrapper {
        grid-column: 4 / 12;
    }
    
}

@media screen and (max-width: 880px) { 
    .main-section .content .pic-wrapper {
        display: none;
    }
}

@media screen and (max-width: 800px) { 
    .main-section {
        background-image: url("src/bg800px.svg");
    }
    .qualities-section .content {
        grid-template-columns: 1fr;
    }

    .prices-wrapper {
        grid-template-columns: 1fr;
    }

    .work-desc {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav {
        display: none;
    }

    .menu-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}